.git
.github
.idea
.vscode
.env
.env.*
!.env.example
config/.config.php
config/appprofile.php
storage/framework/smarty/cache/*
storage/framework/smarty/compile/*
storage/framework/twig/cache/*
storage/logs/*
storage/.install_lock
vendor
node_modules
tests
coverage
docker-compose.override.yml
